<%- include('../../partials/_header.ejs') %>
    <h1>Home</h1>
    <h2>Voici une liste de coffee lovers ♥</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis repudiandae doloribus excepturi voluptate accusantium neque deleniti amet veniam ratione tempora?</p>
    <ul id="home-list">
        <% data.forEach((people) => { %>
            <a href="http://localhost:2022/people/<%= people.id %>">
                <li>
                    <h2><%= people.firstname %></h2>
                    <p><%= people.description %></p>
                    <div class="img--container"><img src="<%= people.image %>" alt="pic of <%= people.firstname %>"></div>
                </li>
            </a>
        <% }) %>
    </ul>
<%- include('../../partials/_footer.ejs') %>