<%- include('../../partials/_header.ejs') %>
    <h1>Well done</h1>
    <h2>Merci de nous avoir contacté !</h2>
    <p>
        Bonjour <%= data.firstname %> <%= data.lastname %> Aka <%= data.pseudo %>
    </p>
<%- include('../../partials/_footer.ejs') %>